[Unit]
Description=TKey-tpm-luks Unlock
DefaultDependencies=no
Before=cryptsetup.target
After=dev-ttyACM0.device
After=dev-nvme0n1p3.device
Wants=dev-ttyACM0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/host
RemainAfterExit=yes
TimeoutStartSec=120

[Install]
WantedBy=cryptsetup.target
